@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Source+Sans+Pro&display=swap');


body{
    display: flex;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.form-img{
    width: 50%;
    height: 100vh;
    background: url(../img/earth_img.jpg) no-repeat center;
    background-size: cover;
}

.form-signin{
    width: 50%;
    padding: 0px 144px;
}

.form-label{
    font-weight: 400;
}

.form-control{
    background-color: rgba(235, 241, 241, 0.616);
    border: none;
}

.form-control:focus{
    background-color: rgba(235, 241, 241, 0.616);

}

.row1{
    border: 1px solid;
    width: 20%;
    height: 0px !important;
    color: rgb(231, 229, 229);
}

.social-link img{
    border: 1px solid rgb(212, 210, 210);
    padding: 5px;
    border-radius: 5px;
    margin: 0px 5px;
}


@media screen and (max-width: 1106px) {
    .form-signin{
        padding: 0px 100px;
    }
    
}

@media screen and (max-width: 900px){
        .form-signin{
            padding: 0px 70px;
        }
    
}

@media screen and (max-width: 800px) {
    .form-img{
        display: none;
    }   
    .form-signin{
        padding: 0px 15px;
    }
    body{
        display: flex;
        justify-content: center;
    }
    .form-signin{
        width: 100% ;
    }
    .form-signin{
        margin-top: 55px;
    }
}